@CHARSET "ISO-8859-1";
.outer {
   border: 5px solid blue;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   -khtml-border-radius: 20px;
    border-radius: 20px;
    float:left;
    padding: 10px;
     height: 200px;
    width: 800px;
    
}
.inner {
    border: 3px solid black; 
    width: 300px;
    float:left; 
 }
 .inner:HOVER {
	background-color: orange;
}